entrypoint = "index.js"
modules = ["nodejs-22", "postgresql-16"]
hidden = [".config", "package-lock.json"]

[gitHubImport]
requiredFiles = [".replit", "replit.nix", "package.json", "package-lock.json"]

[nix]
channel = "stable-24_11"

[deployment]
run = ["sh", "-c", "cd server && npm install && node server.js"]
deploymentTarget = "autoscale"
ignorePorts = false
build = ["sh", "-c", "cd client && npm install && npm run build"]

[[ports]]
localPort = 5000

[[ports]]
localPort = 5173
externalPort = 3000

[[ports]]
localPort = 5174
externalPort = 80

[workflows]
runButton = "Full Stack"

[[workflows.workflow]]
name = "Full Stack"
author = 15849153
mode = "parallel"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd client && npm run dev"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd server && node server.js"
